{% load static %}
<html lang="fr">

<head>
  <title>StainJob - La plateforme de gestion d'intérim innovante</title>
  <meta name="description" content="StainJob est une plateforme de gestion d'intérim innovante qui permet aux entreprises de réserver un intérimaire facilement, comme on pourrait réserver un Uber ou prendre un rendez-vous sur Doctolib. Les travailleurs intérimaires peuvent également rechercher des missions disponibles et mettre à jour leur disponibilité.">
  <meta name="keywords" content="intérim, gestion, StainJob, mission, travailleur, entreprise, disponibilité">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Default.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
</head>

<body>
  <header class="Debut">
    <img class="Logo" src="{% static 'img/logo.png' %}" alt="Logo de l'entreprise" width="300" height="200" class="maClasse" id="monId" >

    <section class="inscription">
      <p><a href="/plateforme/inscription/">Inscrivez-vous dès maintenant</a></p>
    </section>
    
    
    <section class="connexion">
      <p><a href="/plateforme/login/">Connectez-vous maintenant</a></p>
    </section>
  
    <section class="reserver">
      <p>L'interim a porter de clic</p>
    </section>
    

  </header>

    <section>
      <div class="intro">
      
      <nav class="intro2">
      <h2 id="slogan">L'interim connecter a porter de clic avec StainJob</h2>
        <p id="Introduction">Chez StainJob, nous avons une vision : rendre la recherche de travailleurs intérimaires ou de missions d'intérim aussi facile que de commander un Uber. Pour cela, nous avons créé une plateforme innovante qui simplifie la vie des employeurs et des travailleurs intérimaires. Avec StainJob, les employeurs peuvent trouver des travailleurs intérimaires qualifiés en quelques clics, tandis que les travailleurs intérimaires peuvent être réservés directement pour des missions qui correspondent à leurs compétences et à leur disponibilité grâce à notre agenda intelligent.
          <br><br>
          Notre plateforme intuitive et facile à utiliser offre une expérience d'intérim optimale, qui vous permet de trouver rapidement les missions ou les travailleurs intérimaires que vous recherchez. En rejoignant notre communauté, vous pourrez profiter d'une expérience d'intérim simplifiée et efficace, sans les tracas et les complications habituelles. Alors, pourquoi perdre du temps à chercher ailleurs ?</p>
      </nav>
      </div>

    </section>

    <nav class="services">
  
      <h2 id="titre">Nos services pour les entreprises et les travailleurs intérimaires</h2>
  
      <div class="Employeur">
        <img id="Imagebureau" src="{% static 'img/bureau.jpg' %}" alt="image" width="800" height="500">
        <p class="offreEmployeur">Votre entreprise a besoin d'un travailleur intérimaire pour un projet ponctuel ? <br> <br><br>
          La recherche et la réservation d'intérimaires peut être fastidieuse et chronophage, mais StainJob est là pour vous faciliter la vie !

          Notre plateforme de gestion de missions en intérim est conçue pour simplifier le processus de recherche et de réservation d'intérimaires compétents et disponibles pour vos missions. 
          <br><br>
          
          Nous avons développé un système intuitif et convivial qui vous permet de trouver rapidement et facilement les travailleurs intérimaires dont vous avez besoin, sans avoir à perdre du temps à chercher sur des sites d'annonces ou à contacter des agences d'intérim et parler avec une tiers personne.
          <br><br>
          
          Grâce à notre plateforme, vous pouvez facilement rechercher un travailleur intérimaire disponible pour une mission spécifique en entrant simplement l'adresse et la date de la mission. 
          Notre algorithme de recherche vous fournira alors une liste de travailleurs intérimaires disponibles qui répondent à vos critères de zone géographique et de compétences requises.
          
          <br><br>
          Mais notre plateforme ne s'arrête pas là ! Nous avons conçu un système de réservation facile et efficace qui vous permet de réserver directement le travailleur intérimaire choisi depuis son profil.
          
          <br><br>
          <a href="/plateforme/incription_employeur/">Inscrivez-vous maintenant</a>
        </p>
      </div>
      <h2 id="titre2">Nos services pour les entreprises et les travailleurs intérimaires</h2>

      <div class="Interim">
        <p class="offreInterim">
          Simplifiez votre recherche de missions d'intérim avec StainJob
          <br><br><br>
          Chez StainJob, nous proposons une solution facile et efficace pour les travailleurs intérimaires qui cherchent des missions. En créant un profil sur notre plateforme, vous pouvez mettre en avant vos compétences, votre expérience et votre disponibilité, ce qui facilitera la recherche de missions qui correspondent à vos critères.
          <br><br>
          
          Notre système intuitif permet aux employeurs de rechercher des travailleurs intérimaires pour une mission spécifique, en entrant simplement l'adresse et la date de la mission. Si vous avez les compétences requises pour cette mission, vous serez mis en avant pour être réservé directement par l'employeur. Et la meilleure partie ? Vous recevrez une notification pour confirmer la mission.<br><br>
          
          Avec StainJob, vous pouvez dire adieu aux démarches fastidieuses pour trouver des missions. Tout ce que vous avez à faire, c'est de créer un profil complet et mettre à jour régulièrement vos disponibilités. Notre plateforme s'occupe du reste en vous présentant aux employeurs qui cherchent des compétences comme les vôtres.<br><br>
          
          En bref, StainJob est la solution idéale pour trouver des missions d'intérim de manière simple, rapide et efficace. Alors n'attendez plus et inscrivez-vous dès maintenant pour profiter de notre plateforme innovante.
          <br><br><br>
          <a href="/plateforme/inscription/">Inscrivez-vous maintenant</a>
          </p>

        <img id="ImageInterim" src="{% static 'img/interim1.jpeg' %}" alt="image" width="800" height="500">
      </div>

    </nav>
    
    <footer>
      <h3>Contactez-nous</h3>
      <p>Pour plus d'informations, contactez-nous à l'adresse suivante : <a href="mailto:contact@stainjob.com">contact@stainjob.com</a></p>
    </footer>
    
    <footer>StainJob 2023</footer>
    
    </body>
    </html>