{% load static %}
<html lang="fr">

<head>
  <title>StainJob - La plateforme de gestion d'intérim innovante</title>
  <meta name="description" content="StainJob est une plateforme de gestion d'intérim innovante qui permet aux entreprises de réserver un intérimaire facilement, comme on pourrait réserver un Uber ou prendre un rendez-vous sur Doctolib. Les travailleurs intérimaires peuvent également rechercher des missions disponibles et mettre à jour leur disponibilité.">
  <meta name="keywords" content="intérim, gestion, StainJob, mission, travailleur, entreprise, disponibilité">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Default.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
</head>

<body>
  <header class="Debut">
    <img class="Logo" src="{% static 'img/logo.png' %}" alt="Logo de l'entreprise" width="280" height="75" class="maClasse" id="monId" >
    <section class="offre1">
      <p>Réservez un intérimaire avec StainJob</p>
    </section>
    <section class="offre2">
      <p>Recherchez des missions d'intérim avec StainJob</p>
    </section>
    <section class="louer">
      <p>L'interim connecter a porter de clic avec StainJob</p>
    </section>
  </header>

    <section>
      <h2 id="slogan">L'interim connecter a porter de clic avec StainJob</h2>
    </section>

    <nav class="services">
      <h2 id="titre">Nos services pour les entreprises et les travailleurs intérimaires</h2>
      <div class="GestPay">
        <img id="ImageAppartement" src="static/img/image1.jpg" alt="image" width="800" height="500">
        <p class="offreTexteGestpay">Trouvez un intérimaire pour une mission spécifique en entrant l'adresse de la mission, la date et l'heure. La plateforme affiche une liste de travailleurs intérimaires disponibles qui répondent à vos critères de zone géographique. Vous pouvez réserver l'intérimaire directement depuis son profil et recevoir une notification confirmant les détails de la mission. L'intérimaire reçoit également une notification confirmant les détails de la mission, tels que la date, l'heure et le lieu, ainsi que la description de la mission. Si la mission ne convient pas à l'intérimaire, il peut l'annuler.</p>
      </div>
      <div class="WellAnalyse">
        <p class="offreTexteWellAnalyse">Recherchez des missions d'intérim disponibles en sélectionnant l'adresse de la mission, la date et l'heure souhaitées. La plateforme affiche une liste de travailleurs intérimaires disponibles qui répondent à vos critères de zone géographique. Vous pouvez réserver l'intérimaire directement depuis son profil et recevoir une notification confirmant les détails de la mission. L'intérimaire reçoit également une notification confirmant les détails de la mission, tels que la date, l'heure et le lieu, ainsi que la description de la mission. Si la mission ne convient pas à l'intérimaire, il peut l'annuler. StainJob est une plateforme facile à utiliser pour trouver un intérimaire pour votre entreprise ou pour trouver des missions pour votre travail intérimaire. Rejoignez-nous dès maintenant pour une expérience de mission intérimaire plus rapide, plus facile et plus efficace !</p>
        <img id="ImageBatiment" src="static/img/image2.jpg" alt="image" width="800" height="500">
      </div>
    </nav>
    
    <footer>
      <h3>Contactez-nous</h3>
      <p>Pour plus d'informations, contactez-nous à l'adresse suivante : <a href="mailto:contact@stainjob.com">contact@stainjob.com</a></p>
    </footer>
    
    <footer>StainJob 2023</footer>
    
    </body>
    </html>