{% block content %}

{% load static %}
<html lang="fr">

<head>
  <title>StainJob - La plateforme de gestion d'intérim innovante</title>
  <meta name="description" content="StainJob est une plateforme de gestion d'intérim innovante qui permet aux entreprises de réserver un intérimaire facilement, comme on pourrait réserver un Uber ou prendre un rendez-vous sur Doctolib. Les travailleurs intérimaires peuvent également rechercher des missions disponibles et mettre à jour leur disponibilité.">
  <meta name="keywords" content="intérim, gestion, StainJob, mission, travailleur, entreprise, disponibilité">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Default.css' %}">
  <link rel="icon" type="image/png" href="{% static 'img/pa.png' %}">
  <script src="{% static 'js/bienvenue.js' %}"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap">
</head>

<body >
  <div id="loader">
    <img src="{% static 'img/anim2.gif' %}" alt="Loading...">
  </div>
<!-- ######################################################################################################################################################################################################## -->

          <header class="Menue">
            <div class="logo">
              <img src="{% static 'img/logo6.png' %}" alt="Logo de l'entreprise" width="200" height="100">
            </div>
            <nav class="menu">
              <ul>
                <li id="inscription-dropdown" class="dropdown">
                  <a href="#">Inscription</a>
                  <ul class="vvv">
                    <li><a href="/plateforme/inscriptionuser_worker/" id="interimaire-option">Interimaire</a></li>
                    <li><a href="/plateforme/inscription_emp/" id="employeur-option">Employeur</a></li>
                  </ul>
                </li>
                <li><a href="/plateforme/login/">Connexion</a></li>

                <li><a href="#">L'interim a porter de clic</a></li>
              </ul>
            </nav>
          </header>
          
<!-- ######################################################################################################################################################################################################## -->


        <section class="Accueil">
          <div class="container">
            <h2 id="Slogan">L'interim connecter a porter de clic avec StainJob</h2>
            <p id="Introduction">Chez StainJob, nous avons une vision : rendre la recherche de travailleurs intérimaires ou de missions d'intérim aussi facile que de commander un Uber. Pour cela, nous avons créé une plateforme innovante qui simplifie la vie des employeurs et des travailleurs intérimaires. Avec StainJob, les employeurs peuvent trouver des travailleurs intérimaires qualifiés en quelques clics, tandis que les travailleurs intérimaires peuvent être réservés directement pour des missions qui correspondent à leurs compétences et à leur disponibilité grâce à notre agenda intelligent.
              <br><br>
              Notre plateforme intuitive et facile à utiliser offre une expérience d'intérim optimale, qui vous permet de trouver rapidement les missions ou les travailleurs intérimaires que vous recherchez. En rejoignant notre communauté, vous pourrez profiter d'une expérience d'intérim simplifiée et efficace, sans les tracas et les complications habituelles. Alors, pourquoi perdre du temps à chercher ailleurs ?</p>
          </div>
        </section>

      
<!-- ######################################################################################################################################################################################################## -->

            <section id="services">
              <div class="container">
                <div class="service-container entreprise">
                  <h2>Nos services pour les entreprises.</h2>
                  <ul>
                    <li>Votre avez besoin d'un travailleur intérimaire pour un projet ponctuel ?</li>
                    <li>La recherche et la réservation d'intérimaires peut être fastidieuse et chronophage, mais StainJob est là pour vous faciliter la vie !</li>
                    <li>Notre plateforme de gestion de missions en intérim est conçue pour simplifier le processus de recherche et de réservation d'intérimaires.</li>
                    <li>Nous avons développé un système intuitif et convivial qui vous permet de trouver rapidement et facilement les travailleurs intérimaires dont vous avez besoin.</li>
                    <li>Grâce à notre plateforme, vous pouvez facilement rechercher un travailleur intérimaire disponible pour une mission spécifique en entrant simplement l'adresse et la date de la mission et les competences.</li>
                    <li>Notre algorithme de recherche vous fournira alors une liste de travailleurs intérimaires disponibles qui répondent à toute vos critères.</li>
                    <li>Nous avons conçu un système de réservation facile et efficace qui vous permet de réserver directement le travailleur intérimaire. De plus, si le profil proposé ne correspond pas à vos critères, vous pouvez facilement "switcher" pour que notre système vous propose automatiquement d'autres travailleurs intérimaires disponibles.</li>
                  </ul>
                  <a class="inscription-link" href="/plateforme/inscription_emp/">Inscrivez-vous maintenant</a>
                </div>

                <div class="service-container interim">
                  <h2>Nos services pour les intérimaires</h2>
                  <ul>
                    <li>Créez un profil complet sur StainJob. En créant votre profil sur notre plateforme, vous êtes en contact direct avec les employeurs, éliminant ainsi les intermédiaires.</li>
                    <li>Notre système intuitif permet aux employeurs de rechercher des travailleurs intérimaires pour une mission spécifique, en entrant simplement l'adresse et la date de la mission.</li>
                    <li>Si vous avez les critères requises pour cette mission, vous serez mis en avant pour être réservé directement par l'employeur. Plus d'intermédiaires.</li>
                    <li>Vous recevrez une notification pour confirmer la mission et aurez un temps pour accepter directement depuis votre profil. On vous a prévenu, nous ferons tout pour vous aider à simplifier votre vie.</li>
                    <li>Tout ce que vous avez à faire, c'est de mettre à jour régulièrement vos disponibilités. Notre plateforme s'occupe du reste en vous présentant aux employeurs. Vous pouvez dire adieu aux intermédiaires inutiles.</li>
                    <li>Grâce à StainJob, vous pouvez trouver des missions correspondant à vos préférences de travail, telles que la durée de la mission, le lieu, le type de travail et les horaires.</li>
                  </ul>
                  <a class="inscription-link" href="/plateforme/inscriptionuser_worker/">Inscrivez-vous maintenant</a>
                </div>
        
            </section>

    </nav>
<!-- ######################################################################################################################################################################################################## -->
    <footer>StainJob 2023</footer>

    </body>
    </html>
  {% endblock %}