body{
  background-color: #151414;
}


.Menue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #151414;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

.menu {
  margin: 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 15px;
  position: relative;
}

.menu li a {
  display: block;
  padding: 10px 0;
}

.menu li:hover > ul {
  display: block;
}

.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #151414;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.dropdown ul li {
  margin: 0;
  position: relative;
}
.dropdown ul li a {
  display: block;
  padding: 10px 20px;
}

.dropdown ul li:hover > ul {
  display: block;
}

.dropdown ul ul {
  top: 0;
  left: 100%;
  display: none;
}






  /** ################## head ########################**/


    /** ################## Accueille ####################**/
.Accueille {
    margin-top: 20%;
    position: sticky;
    height: 100%;
}

#Slogan{
    font-size: 50px;
    color: white;
    font-family: Georgia, serif;
    margin-left: 2cm;
    margin-right: 2cm;
}


#Introduction{
  font-size: 20px;
  margin-left: 2cm;
  margin-right: 2cm;
}
   /** ################## Accueille ####################**/


  /** ################## Service ####################**/
#services{
    font-size: 20px;
    margin-left: 2cm;
    margin-right: 1cm;
}
  
#TitreService{
    margin-left: 1cm;
    font-size: 50px;
    color: white;
}

.ServiceEntreprise{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2cm;
}

#Imagebureau
{
  margin-left: 1cm;
}

.SpitchEntreprise
{
  font-size: 20px;
  margin-left: 2cm;
  margin-right: 1cm;
}

#TitreService2{
    margin-top: 7cm;
    margin-left: 1cm;
    font-size: 50px;
    color: white;
}

  
  
.ServiceInterim{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2cm;
}

.SpitchInterim{
  font-size: 20px;
  margin-left: 1cm;
  margin-right: 2cm;
}
  
#ImageInterim{
    margin-right: 1cm;
}

/** ################## Service ####################**/


/** ################## Bas de page ####################**/
  
  .BasdePage
  {
    justify-content: center;
    margin-left: 1cm;
    margin-right: 1cm;
  }
/** ################## Bas de page ####################**/
a{
    color: inherit;
    text-decoration: none;
  }
  
p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.vvv:hover{
  background-color: #f8efef;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 50px;
}

.inscription a {
  color: rgb(42, 41, 41);
}
